<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">

      <a class="navbar-brand "  href="#"><img src="assets/img/logo.jpg"  class="logo icono"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Alternar navegación">
          <span class="navbar-toggler-icon  navbar-custom2"></span>
          
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  

                  <li class="nav-item active">
                    <a class="nav-link" href="">Razas <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/clases">Clases</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/mapas">Reino olvidado</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/todas-razas">Dungeons and dragons</a>
                  </li>                
                  <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                  </li>
                 
          </ul>
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-info" type="submit">Buscar</button>
          </form>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>