<div class="container">

    
    <p>{{titulo}}</p>
    <div class="slider-container">
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
    </div>


    <div style="margin: 0 auto; width: 94%"> 
      <p>{{titulo}}</p>
      <div class="grid-container">
        
        <a [href]="'/Humanos'" class="no-decoration"> 
          <div class="grid-item"><img src="assets/img/razas/h.jpg" alt="Imagen 1">Humanos</div>
        </a>
        <a [href]="'/Elfos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/elf.jpg" alt="Imagen 2">Elfos</div>
        </a>
        <a [href]="'/Enanos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/en.jpg" alt="Imagen 3">Enanos</div>
        </a>
        <a [href]="'/Medianos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/me.jpg" alt="Imagen 4">Medianos</div>
        </a>
        <a [href]="'/Draconidos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/dra.jpg" alt="Imagen 4">Draconidos</div>
        </a>
        <a [href]="'/Gnomos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/gn.jpg" alt="Imagen 1">Gnomos</div>
        </a>
        <a [href]="'/Semiorcos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/sorc.jpg" alt="Imagen 2">Semi Orcos</div>
        </a>
        <a [href]="'/Semielfos'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/selfo.jpg" alt="Imagen 3">Semi Elfos</div>
        </a>
        <a [href]="'/Tieflings'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Tie.jpg" alt="Imagen 4">Tieflings</div>
        </a>
        <a [href]="'/Aarakocra'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/aara.jpg" alt="Imagen 4">Aarakocra</div>
        </a>
        <a [href]="'/Goliaths'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/gol.jpg" alt="Imagen 1">Goliaths</div>
        </a>
        <a [href]="'/Genasi'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/gena.jpg" alt="Imagen 2">Genasi</div>
        </a>
        <a [href]="'/Tritones'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/tri.jpg" alt="Imagen 3">Tritones</div>
        </a>
        <a [href]="'/Yuan-ti'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Yuan.jpg" alt="Imagen 4">Yuan-ti</div>
        </a>
        <a [href]="'/Tabaxi'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Tabaxi.jpg" alt="Imagen 1">Tabaxi</div>
        </a>
        <a [href]="'/Lizardfolk'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Lizardfolk.jpg" alt="Imagen 2">Lizardfolk</div>
        </a>
        <a [href]="'/Firbolgs'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Firbolgs.jpg" alt="Imagen 3">Firbolgs</div>
        </a>
        <a [href]="'/Kenkus'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Kenkus.jpg" alt="Imagen 4">Kenkus</div>
        </a>
        <a [href]="'/Tortles'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Tortle.jpg" alt="Imagen 4">Tortles</div>
        </a>
        <a [href]="'/Shifters'" class="no-decoration">
          <div class="grid-item"><img src="assets/img/razas/Shifters.jpg" alt="Imagen 4">Shifters</div>
        </a>
        <a [href]="'/Warforged'" class="no-decoration">  
          <div class="grid-item"><img src="assets/img/razas/Warforged.jpg" alt="Imagen 1">Warforged</div>
        </a>
        <a [href]="'/Changelings'" class="no-decoration">  
          <div class="grid-item"><img src="assets/img/razas/Changelings.jpg" alt="Imagen 2">Changelings</div>
        </a>
        <a [href]="'/Kalashtar'" class="no-decoration">  
          <div class="grid-item"><img src="assets/img/razas/Kalashtar.jpg" alt="Imagen 3">Kalashtar</div>
        </a>
        <a [href]="'/Aasimar'" class="no-decoration">  
          <div class="grid-item"><img src="assets/img/razas/Aasimar.jpg" alt="Imagen 4">Aasimar</div>
        </a>
        <a [href]="'/Minotauros'" class="no-decoration">  
          <div class="grid-item"><img src="assets/img/razas/Minotauros.jpg" alt="Imagen 4">Minotauros</div>
        </a>
        <a [href]="'/Centauros'" class="no-decoration">  
          <div class="grid-item"><img src="assets/img/razas/centauro.jpg" alt="Imagen 4">Centauros</div>
        </a>
        </div>
    <br>
  
  
 
    
    


  </div>
</div>
